<p>Dear <%= name %></p>
<p>
  Thanks for signing up for ZerBlogs, We're very excited having you onboard.:
</p>

<p>Here are your account details:</p>
<ul>
  <li>Email: <%= email %></li>
  <li>Login Url: <%= loginUrl %></li>
</ul>
